/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* Custom style
-------------------------------------------------- */
/*
    light grey: #d9d9d9
    dark grey: #c3c3c3
    pink: #ff66c4
    green #17aa9f
    grey/green: #149187
    yellow #f7ac41
    orange 
*/
.mainBackground {
    background-image: url("../Content/background.png");
}

div.row div.col-md-2 img.pieShopLogo {
    border-radius: 30%;
}

div.row div.col-md-3.pieCard,
div.pieCard {
    background-color: #d9d9d9;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ff66c4
}

.row .col-md-3.pieCard > a,
    .pieCard >a {
        text-decoration: none;
    }